@namespace Components
@page "/ShowMessagesComponent"

<style>
    .alert {
        display: flex;
        align-items: center;
        /* 垂直居中 */
        justify-content: left;
        /* 水平居中 */
        height: 30px;
        border: 1px solid #ccc;
        padding: 5px;
    }
</style>
<div class="alert alert-info" style="height:30px">
    Message:@Messages
</div>

@code {
    [Parameter]
    public string Messages { get; set; }

}
