@page "/ItemDetails"
@using Microsoft.AspNetCore.Components.QuickGrid

@if (DetailItems == null)
{
    <p>None!!!!!</p>
}
else
{

    <p>  --Item "@CurrentItem" Details-- <input type="search" @bind="Search" @bind:event="oninput" /></p>
    <QuickGrid Items="userFilter" Pagination="pagination">
        <PropertyColumn Property="@(u => u.Name)" Sortable="true" Title="Name" />
    </QuickGrid>
    <Paginator State="pagination" />
}

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 3 };
    [Parameter]
    public List<UserInRole> DetailItems { get; set; }
    [Parameter]
    public string CurrentItem { get; set; }
    private string Search = string.Empty;
    private IQueryable<UserInRole> userFilter => DetailItems.Where(u => u.Name.Contains(Search)).AsQueryable();

}
