@page "/SelectComponent"


<div>
    @if (Deps != null)
    {
        foreach (var item in Deps)
        {
            <td>
                <input type="checkbox" checked=@item.IsSelect
                    @onchange="eventArgs => { CheckboxClicked(item.Id, eventArgs.Value); }" />
                @item.DepartmentName <br />
            </td>
        }
    }
</div>

@code {
    //选择组件，返回选择后的部门Id列表。提交保存。
    [Parameter]
    public List<DepSelect> Deps { get; set; }
    [Parameter]
    public List<long> SelectedItems { get; set; }

    public void CheckboxClicked(long selectId, object isChecked)
    {
        if ((bool)isChecked)
        {
            if (!SelectedItems.Contains(selectId))
            {
                SelectedItems.Add(selectId);
            }
        }
        else
        {
            if (SelectedItems.Contains(selectId))
            {
                SelectedItems.Remove(selectId);
            }
        }
        StateHasChanged();
    }
}